* {
  margin: 0;
  padding: 0;
}
.momentum {
  background: linear-gradient(135deg, #fc0a7e, #cf0063, #450e4b);
  width: 1450px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
  margin-top: 20px;
}
.nav-item {
  margin-left: 60px;
  color: white;
  text-decoration: none;
}
.momentum-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 500px; */
  justify-content: space-around;
  justify-items: auto;
  margin-top: 50px;
}
.momentum-section h1 {
  font-size: 60px;
  color: white;
}
.momentum-section p {
  font-size: 30px;
  color: white;
  margin-top: 10px;
}
.momentum-section button {
  background: #a60b5680;
  border-radius: 3px;
  width: 100px;
  height: 50px;
  color: white;
  margin: 20px;
  border: none;
}
.momentum-section img {
  margin-top: 10px;
}
.desktop-info {
  background-color: rgb(23, 23, 23);
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  margin-top: 0px;
  width: 1450px;
}
.smallText {
  color: gray;
  font-size: 18px;
  text-align: center;
}
.bigText {
  color: white;
  font-size: 30px;
  text-align: center;
  max-width: 450px;
  margin-left: 500px;
}
.something {
  background-color: white;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .something img {
  margin-left: 700px;
} */
.smalltext {
  /* max-width: 300px; */
  /* margin-left: 270px; */
  text-align: center;
  color: rgba(100, 97, 97, 0.851);
  flex-direction: column;
  width: 400px;
  gap: 20px;
  margin-top: 150px;
  text-transform: uppercase;
  margin-left: 55px;
}
.bigtext {
  text-align: center;
  /* color: rgba(100, 97, 97, 0.851);
   */
  font-weight: 700;
  font-size: 40px;
  flex-direction: column;
  width: 500px;
  /* gap: 20px; */
  /* margin-top: 100px; */
}
#img1 {
  width: 200px;
  position: absolute;
  width: 320px;
  height: 620px;
  margin-top: 50px;
  margin-left: 750px;
}
.textInfo1 {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 20px;
}
#text3 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  width: 400px;
  color: #6b6b6b;
  text-align: center;
  margin-left: 55px;
  flex-direction: column;
}
.textInfo2 {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 20px;
}
#text4 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  width: 400px;
  color: #6b6b6b;
  text-align: left;
  margin-left: 680px;
  flex-direction: column;
  margin-top: 15px;
}
#img2 {
  position: absolute;
  width: 480px;
  height: 620px;
  margin-top: 350px;
  margin-left: 150px;
}
.bigtext1 {
  text-align: center;
  /* color: rgba(100, 97, 97, 0.851);
   */
  font-weight: 700;
  font-size: 40px;
  flex-direction: column;
  width: 500px;
  /* gap: 20px; */
  /* margin-top: 100px; */
  margin-left: 550px;
  margin-top: 20px;
}
.smalltext1 {
  /* max-width: 300px; */
  /* margin-left: 270px; */
  text-align: center;
  color: rgba(100, 97, 97, 0.851);
  flex-direction: column;
  width: 400px;
  gap: 20px;
  margin-top: 150px;
  text-transform: uppercase;
  margin-left: 600px;
  margin-top: 450px;
}
.textInfo3 {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 20px;
  margin-top: 400px;
}
.bigtext2 {
  text-align: center;
  /* color: rgba(100, 97, 97, 0.851);
   */
  font-weight: 700;
  font-size: 40px;
  flex-direction: column;
  width: 500px;
  margin-left: 150px;
  /* gap: 20px; */
  /* margin-top: 100px; */
}
#img3 {
  width: 200px;
  position: absolute;
  width: 420px;
  height: 620px;
  margin-top: 50px;
  margin-left: 750px;
}
#text5 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 400px;
  color: #6b6b6b;
  text-align: center;
  margin-left: 180px;
  flex-direction: column;
  margin-top: 15px;
}
.smalltext2 {
  /* max-width: 300px; */
  /* margin-left: 270px; */
  text-align: center;
  color: rgba(100, 97, 97, 0.851);
  flex-direction: column;
  width: 400px;
  gap: 20px;
  margin-top: 150px;
  text-transform: uppercase;
  margin-left: 200px;
  margin-top: 250px;
}
.block-1 {
  width: 300px;
  /* margin-top: 400px;
  margin-left: 200px; */
  margin-left: 100px;
  margin-top: 100px;
}
.block-2 {
  width: 300px;
  /* margin-top: 400px;
  margin-left: 200px; */
  margin-left: 100px;
  margin-top: 100px;
}
.block-3 {
  width: 300px;
  /* margin-top: 400px;
  margin-left: 200px; */
  margin-left: 100px;
  margin-top: 100px;
}
.container {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.activity {
  margin-left: 5 00px;
  /* text-align: start; */
  margin-top: 50px;
}
.burger {
  margin-left: 50px;
}
.underactivity2 {
  color: gray;
  margin-top: 10px;
}
.customtiming {
  margin-top: 40px;
}
.mobile {
  margin-top: 40px;
}
.undertiming {
  margin-top: 10px;
  color: gray;
}
.spoon {
  margin-left: 40px;
}
.undermobile {
  margin-top: 10px;
  color: gray;
}
.container-2 {
  margin-top: 200px;
  justify-content: space-evenly;
  margin-left: 0px;
  width: 100vw;
  display: flex;
}
.block-4 {
  margin-left: 5px;
}
.block-5 {
  margin-left: 50px;
}
.block-6 {
  margin-left: 50px;
}
.container-3 {
  margin-left: 10px;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}
.smalltext3 {
  /* max-width: 300px; */
  /* margin-left: 270px; */
  text-align: center;
  color: rgba(100, 97, 97, 0.851);
  flex-direction: column;
  width: 400px;
  gap: 20px;
  margin-top: 230px;
  text-transform: uppercase;
  margin-left: 200px;
}
.bigtext3 {
  text-align: end;
  /* color: rgba(100, 97, 97, 0.851);
   */
  font-weight: 700;
  font-size: 30px;
  flex-direction: column;
  width: 500px;
  margin-left: 40px;
  margin-top: 20px;
}
.text6 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 230px;
  color: #6b6b6b;
  text-align: center;
  margin-left: 250px;
  flex-direction: column;
  margin-top: 30px;
}
.burger2 {
  width: 200px;
  position: absolute;
  width: 558px;
  height: 414px;
  margin-left: 550px;
}
.container-4 {
  width: 200px;
}
.container-5 {
  margin-left: 10px;
  display: flex;
  width: 100px;
  justify-content: space-evenly;
  align-items: center;
}
.smalltext4 {
  /* max-width: 300px; */
  /* margin-left: 270px; */
  text-align: center;
  color: rgba(100, 97, 97, 0.851);
  flex-direction: column;
  width: 400px;
  gap: 20px;
  margin-top: 230px;
  text-transform: uppercase;
  margin-left: 700px;
}
.bigtext4 {
  text-align: end;
  /* color: rgba(100, 97, 97, 0.851);
   */
  font-weight: 700;
  font-size: 30px;
  flex-direction: column;
  width: 500px;
  margin-left: 500px;
  margin-top: 20px;
}
.salad {
  position: absolute;
  width: 558px;
  height: 414px;
  margin-left: 150px;
}
.text7 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 330px;
  color: #6b6b6b;
  text-align: center;
  margin-left: 750px;
  flex-direction: column;
  margin-top: 30px;
}
.imaje {
  margin-top: 300px;
  margin-left: 650px;
}
.underimaje {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 430px;
  color: #6b6b6b;
  text-align: center;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 200px;
  margin-left: 500px;
}
.under1 {
  margin-left: 550px;
  margin-top: 50px;
  display: flex;
  color: #6b6b6b;
}
.container-7 {
  display: flex;
}
.under2 {
  margin-left: 150px;
  display: flex;
  color: black;
}
.container-8 {
  margin-top: 80px;
  justify-content: space-between;
  margin-left: 700px;
}
.dot2 {
  margin-left: 10px;
}
.container-9 {
  height: 115px;
  width: 1296px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 120px;
}
.lines {
  height: 35px;
  width: 1008px;
  left: 144px;
  top: 40px;
  border-radius: 0px;
}
.icecreams {
  width: 1450px;
  height: 518px;
}
.container-11 {
  width: 1450px;
  height: 518px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-end;
  background-image: url(./background.png);
}
.ready {
  font-family: Gothic A1;
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  height: 8px;
  width: 395px;
  left: 0px;
  top: 40px;
  border-radius: nullpx;
  margin-top: 100px;
  margin-left: 50px;
  color: white;
}
.subcontainer-11 {
  display: flex;
  height: 66px;
  width: 395px;
  left: 200px;
  top: 128.31689453125px;
  border-radius: 0px;
  justify-content: space-between;
  color: white;
}
.download {
  height: 66px;
  width: 190px;
  left: 12.5px;
  top: -0.31689453125px;
  border-radius: 0px;

  /* height: 26px;
  width: 110px;
  left: 40px;
  top: 20px;
  border-radius: nullpx; */
  display: flex;
  background-color: #fc0a7e;
  justify-content: center;
  align-items: center;
  border: 1px solid #b04bb3;
}
.touch {
  height: 66px;
  width: 190px;
  left: 12.5px;
  top: -0.31689453125px;
  border-radius: 0px;
  border-radius: nullpx;
  display: flex;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  border: 1px solid #b04bb3;
}
.container-12 {
  width: 1450px;
  height: 518px;
  display: flex;
  background-color: #000000d8;
  flex-direction: column;
  justify-content: center;
}
.updates {
  display: flex;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  font-size: 38px;
  font-family: Gothic A1;
}
.course {
  display: flex;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #6b6b6b;
}
.email {
  display: flex;
  border-radius: inherit;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: white;
  width: 300px;
  margin-left: 50px;
}
.sabscribe {
  display: flex;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fc0a7e;
  width: 200px;
}
.emailblock {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container-13 {
  width: 1450px;
  height: 242px;
  display: flex;
  background-color: #000000d8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.disk {
  width: 136px;
  height: 104px;
  display: flex;
}
.email2 {
  height: 50px;
  display: flex;
  color: #6b6b6b;
}
.references {
  display: flex;
  /* flex-direction: row; */
  color: #6b6b6b;
  width: 100vw;
  justify-content: center;
}
.references div {
  /* align-items: center; */
  display: flex;
  justify-content: center;
  margin-left: 40px;
  margin-top: 40px;
}
